<?xml version="1.0" encoding="utf-8"?>
<robot name="mjf_bunker2_description"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Define robot constants -->
  <xacro:property name="pkg_name" value="mjf_bunker2_description"/>

  <!-- Robot Footprint -->
  <link name="base_link">
    <!-- <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" /> -->
  </link>  

  <!-- Define some commonly used intertial properties  -->
  <xacro:macro name="Robot_Body_inertia" params="m">
    <inertial>
      <origin 
        xyz="0.0212410555532523 0.00475458359568469 -0.127580557949736"
        rpy="0.0 0.0 0.0"/>
      <mass value="${m}"/>
      <inertia
        ixx="0.607716166684979"
        ixy="1.92178193996147E-05"
        ixz="-0.036532069356182"
        iyy="1.70041426855404"
        iyz="2.16963122007266E-05"
        izz="1.84232351935185" />
    </inertial>
  </xacro:macro>
  <xacro:macro name="box_inertia" params="m w h d">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0 ${pi/2}"/>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0" iyy="${(m/12) * (w*w + d*d)}" iyz="0.0" izz="${(m/12) * (w*w + h*h)}"/>
    </inertial>
  </xacro:macro>
  <xacro:macro name="cylinder_inertia" params="m r h">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0 0" />
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy = "0" ixz = "0" iyy="${(m/12) * (3*r*r + h*h)}" iyz = "0" izz="${(m/2) * (r*r)}"/>
    </inertial>
  </xacro:macro>
  <xacro:macro name="sphere_inertia" params="m r">
    <inertial>
      <mass value="${m}"/>
      <inertia ixx="${(2/5) * m * (r*r)}" ixy="0.0" ixz="0.0" iyy="${(2/5) * m * (r*r)}" iyz="0.0" izz="${(2/5) * m * (r*r)}"/>
    </inertial>
  </xacro:macro>

  <!-- Robot Base --> 
  <link name="Robot_Body">
    <visual>
      <origin
        xyz="0.53 -0.392 -0.358"
        rpy="1.5708 0.0 -3.1416" />
      <geometry>
        <mesh filename="file://$(find mjf_bunker2_description)/meshes/BUNKER.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="Gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.53 -0.392 -0.358"
        rpy="1.5708 0.0 -3.1416" />
      <geometry>
        <mesh filename="file://$(find mjf_bunker2_description)/meshes/BUNKER.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <xacro:Robot_Body_inertia m="22"/>
  </link>

  <joint name="Body_joint" type="fixed">
    <parent link="base_link"/>
    <child link="Robot_Body"/>
    <origin xyz="0.0 0.0 0.358" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- Wheels -->
  <xacro:macro name="wheel" params="prefix xyz_w xyz_I xyz_j rpy_j m ixx ixy ixz iyy iyz izz axz">
    <link name="${prefix}_link">
      <inertial>
        <origin xyz="${xyz_I}" rpy="0.0 0.0 0.0" />
        <mass value="${m}"/>
        <inertia ixx="${ixx}" ixy = "${ixy}" ixz = "${ixz}" iyy="${iyy}" iyz = "${iyz}" izz="${izz}"/>
      </inertial>
      <visual>
        <origin xyz="${xyz_w}" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="file://$(find ${pkg_name})/meshes/${prefix}_Link.STL" />
        </geometry>
        <material name="Gray">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="${xyz_w}" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="file://$(find ${pkg_name})/meshes/${prefix}_Link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}_joint" type="fixed">
      <parent link="Robot_Body"/>
      <child link="${prefix}_link"/>
      <origin xyz="${xyz_j}" rpy="${rpy_j}"/>
      <axis xyz="0.0 0.0 ${axz}"/>
      <limit lower="-180" upper="180" effort="0" velocity="0" />
    </joint>
  </xacro:macro>

  <xacro:macro name="wheel_rev" params="prefix xyz_w xyz_I xyz_j rpy_j m ixx ixy ixz iyy iyz izz axz">
    <link name="${prefix}_link">
      <inertial>
        <origin xyz="${xyz_I}" rpy="0.0 0.0 0.0" />
        <mass value="${m}"/>
        <inertia ixx="${ixx}" ixy = "${ixy}" ixz = "${ixz}" iyy="${iyy}" iyz = "${iyz}" izz="${izz}"/>
      </inertial>
      <visual>
        <origin xyz="${xyz_w}" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="file://$(find ${pkg_name})/meshes/${prefix}_Link.STL" />
        </geometry>
        <material name="Gray">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="${xyz_w}" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="file://$(find ${pkg_name})/meshes/${prefix}_Link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}_joint" type="revolute"> <!-- revolute continuous -->
      <parent link="Robot_Body"/>
      <child link="${prefix}_link"/>
      <origin xyz="${xyz_j}" rpy="${rpy_j}"/>
      <axis xyz="0 0 ${axz}"/>
      <limit lower="-180" upper="180" effort="0" velocity="0" />
    </joint>
  </xacro:macro>

  <xacro:wheel prefix="wheel1"
    xyz_w="0.0 0.0 0.0"
    xyz_I="0 -1.38777878078145E-17 -0.0719999999999999" 
    xyz_j="0.44403 0.3495 -0.12853"
    rpy_j="1.5708 0 -3.1416"
    m = "0.392034219968119"
    ixx="0.000378440530116381"
    ixy="5.60822736805661E-21"
    ixz="3.04207802822425E-20"
    iyy="0.000378440530116381"
    iyz="-7.56626980356474E-21"
    izz="0.000710150518820894" 
    axz="1"/>
  <xacro:wheel prefix="wheel1.1"
    xyz_w="0.0 0.0 0.0"
    xyz_I="-1.74279013442913E-08 5.87093572021469E-08 -0.0720000000000001" 
    xyz_j="0.37551 0.3495 -0.22305"
    rpy_j="1.5708 0 -3.1416"
    m = "0.190328287901002"
    ixx="6.58750963981394E-05"
    ixy="-1.46558944641469E-09"
    ixz="-8.34967331718859E-12"
    iyy="6.58795984671517E-05"
    iyz="-2.4786046130206E-12"
    izz="0.000112721820875598" 
    axz="1"/>
  <xacro:wheel prefix="wheel1.2"
    xyz_w="0.0 0.0 0.0"
    xyz_I="1.66533453693773E-16 4.16333634234434E-17 -0.0720000000000002" 
    xyz_j="0.29039 0.3495 -0.28104"
    rpy_j="1.5708 0 -3.1416"
    m = "0.271192811687251"
    ixx="0.000179574259018481"
    ixy="1.15789498120549E-20"
    ixz="1.3563351843978E-21"
    iyy="0.000179574259018481"
    iyz="6.0369822309622E-23"
    izz="0.000332594534732139" 
    axz="1"/>
  <xacro:wheel prefix="wheel1.3"
    xyz_w="0.0 0.0 0.0"
    xyz_I="3.44025652177504E-05 -2.66346274915008E-05 -0.0701504149473696" 
    xyz_j="0.29603 0.3495 -0.087"
    rpy_j="1.5708 0 -3.1416"
    m = "0.245835028330933"
    ixx="0.000105254202004996"
    ixy="1.32328029886322E-08"
    ixz="3.84294589102693E-11"
    iyy="0.000105248656147198"
    iyz="-1.41155611914915E-11"
    izz="0.000173280771745758" 
    axz="-1"/>
  <xacro:wheel prefix="wheel2"
    xyz_w="0.0 0.0 0.0"
    xyz_I="-1.66533453693773E-16 0 0.072" 
    xyz_j="0.44403 -0.3495 -0.12853"
    rpy_j="1.5708 0 -3.1416"
    m = "0.392034219968119"
    ixx="0.000378440530116381"
    ixy="3.37302217863781E-21"
    ixz="2.71827270955143E-20"
    iyy="0.000378440530116381"
    iyz="-7.32821644893157E-21"
    izz="0.000710150518820894" 
    axz="-1"/>
  <xacro:wheel prefix="wheel2.1"
    xyz_w="0.0 0.0 0.0"
    xyz_I="-1.74279017328693E-08 5.87093572160247E-08 0.0720000000000002" 
    xyz_j="0.37551 -0.3495 -0.22305"
    rpy_j="1.5708 0 -3.1416"
    m = "0.190328287901002"
    ixx="6.58750963981394E-05"
    ixy="-1.46558944642761E-09"
    ixz="-8.34967332343028E-12"
    iyy="6.58795984671517E-05"
    iyz="-2.47860459929511E-12"
    izz="0.000112721820875598"
    axz="-1"/>
  <xacro:wheel prefix="wheel2.2"
    xyz_w="0.0 0.0 0.0"
    xyz_I="-1.38777878078145E-16 -4.85722573273506E-17 0.0720000000000003" 
    xyz_j="0.29039 -0.3495 -0.28104"
    rpy_j="1.5708 0 -3.1416"
    m = "0.27119281168725"
    ixx="0.00017957425901848"
    ixy="6.28960386226657E-21"
    ixz="2.14010788664762E-21"
    iyy="0.00017957425901848"
    iyz="1.27709655724716E-22"
    izz="0.000332594534732139" 
    axz="-1"/>
  <xacro:wheel prefix="wheel2.3"
    xyz_w="0.0 0.0 0.0"
    xyz_I="3.51083051564616E-05 -2.7181014665284E-05 0.0709276770204769" 
    xyz_j="0.29603 -0.3495 -0.087"
    rpy_j="1.5708 0 -3.1416"
    m = "0.240893303086836"
    ixx="0.000105035118852508"
    ixy="1.32328029886296E-08"
    ixz="3.84294589110161E-11"
    iyy="0.00010502957299471"
    iyz="-1.41155611875745E-11"
    izz="0.00017298179736849"
    axz="1"/>
  <xacro:wheel_rev prefix="wheel3"
    xyz_w="0.0 0.0 0.0"
    xyz_I="-1.5143569731535E-10 7.07767178198537E-16 -0.0246054820762604"
    xyz_j="-0.38871 0.295 -0.19381"
    rpy_j="1.5708 0 -3.1416"
    m = "1.35828296445862"
    ixx="0.00232456013775523"
    ixy="-1.61343020248111E-09"
    ixz="-4.5670735364335E-13"
    iyy="0.00232456564213727"
    iyz="-1.36036258272812E-18"
    izz="0.00308347787030649"
    axz="-1"/>
  <xacro:wheel prefix="wheel3.1"
    xyz_w="0.0 0.0 0.0"
    xyz_I="5.55111512312578E-17 5.55111512312578E-17 -0.0720000000000002"
    xyz_j="-0.23111 0.3495 -0.27671"
    rpy_j="1.5708 0 -3.1416"
    m = "0.271192811687251"
    ixx="0.000179574259018481"
    ixy="-1.73824343982442E-20"
    ixz="-2.53159654382751E-21"
    iyy="0.000179574259018481"
    iyz="-3.13741449878515E-21"
    izz="0.000332594534732139"
    axz="1"/>
  <xacro:wheel prefix="wheel3.2"
    xyz_w="0.0 0.0 0.0"
    xyz_I="7.58128369110489E-17 7.63278329429795E-17 -0.0720000000000003"
    xyz_j="0.043885 0.3495 -0.27671"
    rpy_j="1.5708 0 -3.1416"
    m = "0.27119281168725"
    ixx="0.00017957425901848"
    ixy="9.82929052458426E-22"
    ixz="1.10990388135291E-21"
    iyy="0.00017957425901848"
    iyz="-4.81322327079121E-21"
    izz="0.000332594534732139"
    axz="1"/>
  <xacro:wheel prefix="wheel3.3"
    xyz_w="0.0 0.0 0.0"
    xyz_I="1.37732703020532E-08 -5.29206664124648E-05 -0.0701501700151683"
    xyz_j="-0.28597 0.3495 -0.087"
    rpy_j="1.5708 0 -3.1416"
    m = "0.245836054976119"
    ixx="0.000105264944409738"
    ixy="7.98231761628902E-12"
    ixz="6.80400273605472E-11"
    iyy="0.000105238344260685"
    iyz="-2.72106317781962E-11"
    izz="0.000173281039335396"
    axz="-1"/>
  <xacro:wheel_rev prefix="wheel4"
    xyz_w="0.0 0.0 0.0"
    xyz_I="5.55111512312578E-17 1.51436273243544E-10 0.0245928853369881"
    xyz_j="-0.38871 -0.295 -0.19381"
    rpy_j="1.5708 0 -3.1416"
    m = "1.35828296445862"
    ixx="0.00232456564213727"
    ixy="-1.6134302023684E-09"
    ixz="-3.67391703208082E-19"
    iyy="0.00232456013775523"
    iyz="-4.56707494796216E-13"
    izz="0.00308347787030649"
    axz="1"/>
  <xacro:wheel prefix="wheel4.1"
    xyz_w="0.0 0.0 0.0"
    xyz_I="-1.11022302462516E-16 -5.55111512312578E-17 0.0720000000000002"
    xyz_j="-0.23111 -0.3495 -0.27671"
    rpy_j="1.5708 0 -3.1416"
    m = "0.271192811687251"
    ixx="0.000179574259018481"
    ixy="-7.93399024302093E-21"
    ixz="-2.13342044570487E-21"
    iyy="0.000179574259018481"
    iyz="-3.23624373974149E-21"
    izz="0.000332594534732139"
    axz="-1"/>
  <xacro:wheel prefix="wheel4.2"
    xyz_w="0.0 0.0 0.0"
    xyz_I="-7.64498056873841E-17 -4.85722573273506E-17 0.0720000000000004"
    xyz_j="0.043885 -0.3495 -0.27671"
    rpy_j="1.5708 0 -3.1416"
    m = "0.27119281168725"
    ixx="0.00017957425901848"
    ixy="6.3005828905746E-22"
    ixz="1.1753358195074E-22"
    iyy="0.00017957425901848"
    iyz="-3.27347099653111E-21"
    izz="0.000332594534732139"
    axz="-1"/>
  <xacro:wheel prefix="wheel4.3"
    xyz_w="0.0 0.0 0.0"
    xyz_I="1.37732700244975E-08 -5.29206664124926E-05 0.0701152686893121"
    xyz_j="-0.28597 -0.3495 -0.087"
    rpy_j="1.5708 0 -3.1416"
    m = "0.245836054976119"
    ixx="0.000105264944409738"
    ixy="7.98231761858719E-12"
    ixz="6.80400273764357E-11"
    iyy="0.000105238344260685"
    iyz="-2.72106317797361E-11"
    izz="0.000173281039335396"
    axz="1"/>

  <!-- Sensors -->

  <link name="imu_link">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>

    <xacro:box_inertia m="0.1" w="0.1" d="0.1" h="0.1"/>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="Robot_Body"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0.01"/>
  </joint>

  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <plugin filename="/opt/ros/humble/lib/libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <ros>
          <namespace>/demo</namespace>
          <remapping>~/out:=imu</remapping>
        </ros>
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0</bias_mean> <!--0.0000075-->
              <bias_stddev>0.0000008</bias_stddev> 
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0</bias_mean> <!--0.0000075-->
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0</bias_mean> <!--0.0000075-->
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.0</bias_mean> <!--0.1--> 
              <bias_stddev>0.000001</bias_stddev> <!--0.001-->
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.0</bias_mean> <!--0.1-->
              <bias_stddev>0.000001</bias_stddev> <!--0.001-->
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.0</bias_mean> <!--0.1-->
              <bias_stddev>0.000001</bias_stddev> <!--0.001-->
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name='diff_drive' filename='/opt/ros/humble/lib/libgazebo_ros_diff_drive.so'>
      <ros>
        <namespace>/demo</namespace>
        <remap from="cmd_vel" to="/cmd_vel"/>
      </ros>

      <!-- wheels -->
      <left_joint>wheel4_joint</left_joint>
      <right_joint>wheel3_joint</right_joint>

      <!-- kinematics -->
      <wheel_separation>0.4</wheel_separation>
      <wheel_diameter>0.2</wheel_diameter>

      <!-- limits -->
      <max_wheel_torque>200</max_wheel_torque>
      <max_wheel_acceleration>10.0</max_wheel_acceleration>

      <!-- output -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>false</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>

      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>Robot_Body</robot_base_frame>   <!-- change between : Robot_Body / base_footprint -->
    </plugin>
  </gazebo>

  <!-- <gazebo>
    <plugin name="joint_state_publisher" filename="/opt/ros/humble/lib/libgazebo_ros_joint_state_publisher.so">
      <joint_name>wheel4_joint</joint_name>
      <joint_name>wheel3_joint</joint_name>
      <link_name>wheel3_link</link_name>
      <link_name>wheel4_link</link_name>
    </plugin>
  </gazebo> -->

  <link name="lidar_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.125"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>

    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.0508" length="0.055"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.0508" length="0.055"/>
      </geometry>
    </visual>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="Robot_Body"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.12" rpy="0.0 0.0 0.0"/>
  </joint>

  <gazebo reference="lidar_link">
    <sensor name="lidar" type="ray">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1.000000</resolution>
            <min_angle>0.000000</min_angle>
            <max_angle>6.280000</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120000</min>
          <max>20.1</max>
          <resolution>0.015000</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="scan" filename="/opt/ros/humble/lib/libgazebo_ros_ray_sensor.so">
        <ros>
          <remapping>~/out:=scan</remapping>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>lidar_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>

  <link name="camera_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.015 0.130 0.022"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.015 0.130 0.022"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.035"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="Robot_Body"/>
    <child link="camera_link"/>
    <origin xyz="0.215 0 0.05" rpy="0.0 0.0 0.0"/>
  </joint>

  <link name="camera_depth_frame"/>

  <joint name="camera_depth_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="camera_link"/>
    <child link="camera_depth_frame"/>
  </joint>

  <gazebo reference="camera_link">
    <sensor name="depth_camera" type="depth">
      <visualize>true</visualize>
      <update_rate>30.0</update_rate>
      <camera name="camera">
        <horizontal_fov>1.047198</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>3</far>
        </clip>
      </camera>
      <plugin name="depth_camera_controller" filename="/opt/ros/humble/lib/libgazebo_ros_camera.so">
        <baseline>0.2</baseline>
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <frame_name>camera_depth_frame</frame_name>
        <pointCloudCutoff>0.5</pointCloudCutoff>
        <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
        <distortionK1>0</distortionK1>
        <distortionK2>0</distortionK2>
        <distortionK3>0</distortionK3>
        <distortionT1>0</distortionT1>
        <distortionT2>0</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>
      </plugin>
    </sensor>
  </gazebo>

  <!-- GZ Controller -->
  <gazebo reference="Robot_Body">
     <material>Gazebo/Gray</material>
  </gazebo>
  
  <gazebo>
    <plugin name="object_controller" filename="/opt/ros/humble/lib/libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <!-- <leftFrontJoint>wheel1_joint</leftFrontJoint> -->
      <!-- <rightFrontJoint>wheel2_joint</rightFrontJoint> -->
      <leftRearJoint>wheel4_joint</leftRearJoint>
      <rightRearJoint>wheel3_joint</rightRearJoint>
      <robotBaseFrame>Robot_Body</robotBaseFrame>    <!--change between : base_link / Robot_Body / base_footprint -->
    </plugin>
  </gazebo>

</robot>